[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MungeSumstats"]
	path = MungeSumstats
	url = https://github.com/neurogenomics/mungesumstats
	shallow = true
	registered = true
